*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #F5F7FB;
  height: 100vh;
  
  
}

/** Start screen **/

.container-start{
  
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.container-start h1{
  margin-top: 0;
  margin-bottom: 5px;
}
.container-start button{
  width: 100%;
  font-size: .8rem;
  padding: 15px 30px;
  background-color: #4D5B9E;
  color: #FFFFFD;
  outline: none;
  border: none;
  border-radius: 5px;
}

/**Playing**/
.questions{
  flex-direction: column;
  margin-bottom: 20px;
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.question-single p{
  padding: 20px;
  height: 70px;
}
.options{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  

}
.options button{
  color: black;
  margin-right: 1rem;
  border: black solid .6px;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  
}
.options button:hover{
  background-color: #D6DBF5;
  
}

/**Submit btn**/
.submit-btn{
  margin: 30px auto;
  padding: 10px 30px;
  font-size: 1rem;
  width: 180px;
  display: block;
  border-radius: 5px;
  border: none;
  background-color: #4D5B9E;
  color: #FFFFFD;
}
.submit-btn:hover{
  background-color: #FFFFFD;
  color: #4D5B9E;
  border: #4D5B9E solid .6px;
  cursor: pointer;
}

/**Correct answer **/
.correct-ans{
  background-color: #94D7A2;
  color: black;
  border: none;
}
/** wrong answer **/
.wrong-ans{
  background-color: lightcoral;
  border: none;
  color: black;
  
}

/** Result **/
.result{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 20px auto;
  padding: 10px;

}
.result button{
  margin: 30px auto;
  padding: 10px 30px;
  font-size: 1rem;
  width: 170px;
  display: block;
  border-radius: 5px;
  border: none;
  background-color: #4D5B9E;
  color: #FFFFFD;
}
.result button:hover{
  background-color: #FFFFFD;
  color: #4D5B9E;
  border: #4D5B9E solid .6px;
  cursor: pointer;
}

/**Loading**/
.loading{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


